<div class="row">
  <div class="col s12">
    <ul class="collection with-header">
    	<li class="collection-header"><h5><%= @group.name %></h5>
    	</li>
    </ul>
  </div>
</div>
<div class="row">
	<div class="col s3">
 		<ul class="collection with-header">
    	    <li class="collection-header"><h5>Data</h5></li>
			<li class="collection-item">Students: <%= @group.students.count %></li>
		</ul>

 		 <ul class="collection with-header">
    	    <li class="collection-header"><h5>Students</h5></li>
			<% @group.students.each do |s| %>
			<li class="collection-item"><%= s.name %> <%= s.lastname %></li>
			<% end %>
		</ul>
	</div>
	<div class="col s9">
	<ul class="collection with-header">
    <li class="collection-header"><h5>Lessons</h5></li>
	</ul>
	<table>
        <thead>
          <tr>
              <th>Date</th>
              <th>Materials used</th>
              <th>Topic</th>
          </tr>
        </thead>
        <tbody>
    		<% @group.lessons.each do |l| %>
          <tr>
            <td><%= link_to l.date.strftime("%d\%m"), lesson_path(id: l.group.id) %></td>
            <td><%= l.materials %></td>
            <td><%= l.areas %></td>
          </tr>
      	</tbody>
      	<tbody>
      	<% end %>
          <tr>
          	<td></td><td><%= link_to "new lesson", new_lesson_path(group_id:@group.id) %></td><td></td>
          </tr>
        </tbody>
      </table>
	</div>
</div>